nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

   

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            cursor: pointer;
        }
    }

}